
docker/docker_data/db/data/

docker/docker_data/nginx/log/

docker/docker_data/nginx/nginx.conf

docker/docker_data/uwsgi/uwsgi.ini

docker/docker-compose.yml

docker/uwsgi.Dockerfile

media/

staticfiles/

__pycache__/

.idea/

blog_app/migrations/

animal_blog/local_settings.py
